/* IMPORTS FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* SIDEBAR */
nav {
    width: 7%;
    height: 100vh;
    background-color: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  -10px 10px 21px #1e3050,
        10px -10px 21px #ffffff;
}
nav .app {
    color: white;
    font-family: 'Unica one', cursive;
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}


/* CREATE BUTTON */
.create {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s ease-in-out;
}
.create-click {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: rotate(45deg);
    transition: 1s ease-in-out;
}
.r {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 130px;
    right: 70px;
    transition: 0.5s ease-in-out;
    background-color: #fa8888;
    bottom: 70px;
    right: 70px;
}
.y {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 130px;
    right: 70px;
    transition: 1s ease-in-out;
    background-color: #f4b76b;
    bottom: 70px;
    right: 70px;
}

.b {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 130px;
    right: 70px;
    transition: 1.5s ease-in-out;
    background-color:#beb3ff;
    bottom: 70px;
    right: 70px;
}
.g {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 130px;
    right: 70px;
    transition: 2s ease-in-out;
    background-color: #afffec;
    bottom: 70px;
    right: 70px;
}


/* MAIN AREA */
main {
    width: 94%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CARDS CONTAINER */
.cards-c {
    width: 100%;
    height: 90vh;
    list-style-type: none;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
}


/* CARD */
.card-c {
    width: 300px;
    height: 200px;
    background-color: var(--yellow);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-c .card-title {
    font-size: 2rem;
    font-family: 'Unica one', cursive;
    margin-left: 10px;
}
.card-c .card-desc {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
}
.card-c .btns {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
    gap: 10px;
}
.card-c .btns .delete {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.card-c .btns .view {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}


/* REMOVING SCROLLBAR */
::-webkit-scrollbar {
    width: 0px;
}


/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    body {
      flex-direction: column;
    }
    nav{
        height: 80px;
        width: 100%;
        box-shadow: none;
        flex-direction: row;
        align-items: center;
    }
    main{
        width: 100%;
    }
    .cards-c{
        padding: auto;
    }
    .create{
        bottom: 40px;
        right: 20px;
    }
    .r , .b , .y , .g{
        right: 40px;
    }
    nav .app{
        margin-top: auto;
        margin-left: 10px;
    }
    nav .app i{
        font-size: 30px;
    }
  }
